@import '../../../variables.css';
@import '../../../utils.css';
@import '../../admin-common.css';
.btnAlignRight {
    float: right;
  }
  .btnPrimary {
    border-color: #f56e9f !important;
    background-color: #f56e9f !important;
    color: #fff;
    border-radius: 0px;
  }
  .btnPrimary:hover,
  .btnPrimary:focus {
    border-color: #f64e70 !important;
    background-color: #f64e70 !important;
    color: #fff;
  }
  .btnPrimary:active,
  .btnPrimaryBorder:active {
    border-color: #f64e70 !important;
    background-color: #f64e70 !important;
    color: #fff !important;
  }
  .btnPrimaryBorder {
    border-color: #f56e9f;
    color: #f56e9f;
    background-color: #fff;
    border-radius: 0px;
  }
  .btnPrimaryBorder:hover,
  .btnPrimaryBorder:focus {
    border-color: #f64e70;
    color: #f64e70;
    background-color: #fff;
  }
  .button {
    display: block;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    outline: 0;
    border: 1px solid #373277;
    border-radius: 0px;
    background: #373277;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.3333333;
    cursor: pointer;
  }
  .button:hover {
    background: rgba(54, 50, 119, 0.8);
  }
  .button:focus {
    border-color: #0074c2;
    box-shadow: 0 0 8px rgba(0, 116, 194, 0.6);
  }