/** Common **/
.textEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pullRight {
  float: right;
}
/** Common **/
/* List Item - Start **/
.listItemContainer {
  position: relative;
  padding: 0px;
}
.listPhotoContainer {
  position: relative;
}
.listPhotoCover {
  display: block;
  height: 345px;
  backface-visibility: hidden;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  background-color: #d8d8d8;
  text-align: center;
}
.wishlistSection {
  position: relative;
}
.listPhotoMedia {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}
.imgResponsive {
  height: 100%;
  width: auto;
}
.listInfo {
  padding-top: 0px;
  background: #fff;
  box-shadow: 0 0 15px 0px #d0d0d0;
  border-radius: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0px 6px 15px 12px;
}
.listInfoLink {
  cursor: pointer;
  display: block;
}
.listingInfo {
  word-wrap: break-word;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: normal;
  color: #f56e9f;
  font-weight: 500;
  margin: 0px;
  text-transform: capitalize;
}
.displayInline {
  display: inline-block;
}
.textInline {
  display: inline-block;
  vertical-align: top;
}
.listingTitle {
  word-wrap: break-word;
  font-size: 16px;
  line-height: inherit;
  letter-spacing: normal;
  color: #1a1b1c;
  font-weight: 500;
}
.infoSpace {
  margin-top: 6px;
  margin-bottom: 0px;
}
.infoSpaceTop1 {
  margin-top: 2px;
}
.infoText {
  color: #1a1b1c;
  font-family: 'Catamaran';
  word-wrap: break-word;
  line-height: 18px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline;
}
.infoPrice {
  word-wrap: break-word;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: normal;
  color: rgb(72, 72, 72);
  font-weight: normal;
  display: inline;
}
.infoReview {
  font-weight: 600;
  word-wrap: break-word;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: normal;
  color: rgb(72, 72, 72);
  display: inline;
}
.infoTitle {
  font-size: 19px;
}
.infoDesc {
  font-weight: 200;
  font-size: 14px;
  color: #1a1b1c;
  padding-top: 12px;
}
.wishListContainer {
  position: absolute;
  top: 10px;
  right: 10px;
}
.wishListBtn {
  font-size: 36px;
  color: #ffffff;
}
.wishListBtn:hover,
.wishListBtn:focus {
  color: #58595b;
}
.activeWishList {
  color: #58595b;
}
.displayInlineBlock {
  display: inline-block;
}
.pullRight {
  float: right;
}
.spaceTop1 {
  margin-top: 6px;
}
.dayText {
  font-size: 16px;
  color: #3a3a3a;
}
.sideBorder {
  padding: 0 8px;
}
.vtrBottom {
  vertical-align: bottom;
}
.startIcon {
  padding: 0px 0 5px 0;
}
@media screen and (max-width: 1280px) {
  .listPhotoCover {
    height: 200px;
  }
}
@media screen and (max-width: 800px) {
  .listPhotoCover {
    height: 345px;
  }
}
@media screen and (max-width: 767px) {
  .listItemContainer {
    position: relative;
    padding: 0px 0px;
  }
}
@media screen and (max-width: 480px) {
  .listPhotoCover {
    height: 215px;
  }
}
.reviewStar {
  display: inline;
  position: relative;
  float: left;
}
.reviewText {
  padding: 5px;
  padding-left: 3px;
}
.instantIcon {
  color: #ffb400;
  height: 16px;
  width: 16px;
}
/* List Item - End */
