@import '../../variables.css';
.panelHeader {
  border-radius: 0;
  width: 100%;
  display: block;
  color: #1a1b1c;
  font-size: 16px;
  border-bottom: 1px solid #dce0e0;
}
.textCenter {
  text-align: center;
}
.textTitle {
  font-size: 14px;
  font-weight: 500;
  color: #1a1b1c;
}
.textLead {
  font-size: 14px;
  color: #1a1b1c;
}
.spaceTop3 {
  margin-top: 18px;
}
.spaceTop4 {
  margin-top: 24px;
}
.space2 {
  margin-bottom: 12px;
}
.button {
  box-sizing: border-box;
  margin: 0;
  padding: 7px 21px;
  width: 100%;
  outline: 0;
  border: 1px solid #ffffff;
  border-radius: 0px;
  background: #f56e9f;
  color: #1a1b1c;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.3333333;
  cursor: pointer;
}
.button:hover {
  background: #f56e9f;
}
.button:focus {
  border-color: #f56e9f;
  box-shadow: 0 0 8px #f56e9f;
}
.btnPrimary {
  border-color: #f56e9f;
  background-color: #f56e9f;
  color: #fff;
  border-radius: 0px;
}
.btnPrimary:hover,
.btnPrimary:focus,
.btnPrimary:active,
.btnPrimary:active:hover,
.btnPrimary:active:focus {
  border-color: #f64e70;
  background-color: #f64e70;
  color: #fff;
}
.btnPrimaryBorder {
  border-color: #f56e9f;
  color: #f56e9f;
  background-color: #fff;
  border-radius: 0px;
}
.btnPrimaryBorder:hover,
.btnPrimaryBorder:focus,
.btnPrimaryBorder:active,
.btnPrimaryBorder:active:hover,
.btnPrimaryBorder:active:focus {
  border-color: #f64e70;
  color: #f64e70;
  background-color: #fff;
}
