@import '../../../components/variables.css';
@import '../../../components/utils.css';
@import '../../../components/common.css';

/** RentAll - Begin **/
.formGroup {
  margin-bottom: 10px;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  padding: 0px 28px 0px 30px;
}
.iconPosition {
  position: absolute;
  top: 15px;
  right: 10px;
}
.firstNameInputPadding {
  padding-right: 20px;
}
.formControlInput {
  padding: 0px 35px 5px 0px;
  height: 34px;
  border-radius: 0px;
  font-size: 16px;
  border: 0px;
  background-color: #f9f9f9;
  color: #131313; 
  margin: 0px 0 0 0;
  box-shadow: none;
}
select {
  background-position: 96% 9px;
}
.formSection {
  overflow: hidden;
}
.button {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 13px 16px;
  width: 100%;
  outline: 0;
  border: 1px solid #373277;
  border-radius: 0px;
  background: #373277;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  line-height: 1.3333333;
  cursor: pointer;
}
.button:hover {
  background: rgba(54, 50, 119, 0.8);
}
.button:focus {
  border-color: #0074c2;
  box-shadow: 0 0 8px rgba(0, 116, 194, 0.6);
}
.facebook {
  border-color: #3b5998;
  background: #3b5998;
  border-radius: 0px;
  text-decoration: none;
  composes: button;
}
.btnPrimary {
  border-color: #f56e9f;
  background-color: #f56e9f;
  color: #fff;
  border-radius: 50px;
}
.btnPrimary:hover,
.btnPrimary:focus,
.btnPrimary:active,
.btnPrimary:active:hover,
.btnPrimary:active:focus {
  border-color: #f64e70 !important;
  background-color: #f64e70 !important;
  color: #fff;
}
.btnPrimaryBorder {
  border-color: #f56e9f;
  color: #f56e9f;
  background-color: #fff;
  border-radius: 50px;
}
.btnPrimaryBorder:hover,
.btnPrimaryBorder:focus,
.btnPrimaryBorder:active,
.btnPrimaryBorder:active:hover,
.btnPrimaryBorder:active:focus {
  border-color: #f64e70;
  color: #f64e70;
  background-color: #fff;
}
.noPadding {
  padding: 0px;
}
.Birthpadding {
  padding: 12px 0 0 1px;
}
.paddingBottom {
  padding-bottom: 7px;
}
.birthForm {
  height: 46px;
  font-size: 16px;
}
.backgroundOne {
  background-position: 100% 50%;
}
.backgroundTwo {
  background-position: 100% 50%;
}
.backgroundThree {
  background-position: 99.4% 50%;
}
.labelText {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #131313;
  margin: 0;
}
.noBorder {
  border: 0px !important;
}
.paddingBtn {
  padding-right: 30px !important;
}
.container {
  border: 1px solid #e6e6e6;
  max-width: 584px;
  margin: 0 auto;
  margin-bottom: 30px !important;
}
.registerText {
  border-bottom: 1px solid #e6e6e6;
  padding: 28px 24px;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.53;
  letter-spacing: normal;
  text-align: left;
  color: #131313;
}
.lineThrough {
  display: block;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 12px;
  margin-bottom: 12px;
}
.socialLogin {
  padding: 20px 24px 6px;
  margin-top: 18px;
}
.displayTable {
  display: table;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding-top: 6px;
}
.displayTableRow {
  display: table-row;
  width: 100%;
}
.dislayTableCellCheckBox {
  display: table-cell;
  width: 1%;
  vertical-align: top;
}
.displayTableCelltext {
  display: table-cell;
  vertical-align: middle;
}
.checkboxText {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  color: #131313;
  margin-left: 10px;
}
.checkboxLink {
  color: #f56e9f !important;
}
.btnText,  
.btnText:hover,
.btnText:focus,
.btnText:active {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  border-radius: 30.5px;
  border: solid 1px #e6e6e6;
  padding: 7px 19.5px 7px 21.5px;
  display: inline-block;
  text-decoration: none !important
}
.descText {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  color: #131313;
  margin-right: 8px;
}
.paddingLoginBtn {
  padding-bottom: 10px;
}
.paddingLeft {
  padding-left: 30px;
}
.firstNameInput {
  display: inline-block;
  border-right: 1px solid #e6e6e6;
  width: 50%;
  position: relative;
  padding-top: 12px;
}
.lastNamedInput {
  display: inline-block;
  width: 50%;
  padding-top: 12px;
}
.noMarginBottom {
  margin-bottom: 0px;
}
@media screen and (max-width: 767px) {
  .responsivePadding {
    padding: 0px 15px !important;
  }
  .displayTable {
    max-width: 100%;
  }
  .container {
    border: 0px solid #e6e6e6;
    max-width: 100%;
  }
  .firstNameInput {
    border-right: 0px;
    width: 100%;
  }
  .lastNamedInput {
    width: 100%;
    padding-top: 0px;
  }
  .formGroup {
    padding: 0px 20px 0px 30px;
  }
  .mobileMarginTopFirstName {
    margin-top: 10px;
  }
}