@import '../../components/variables.css';
@import '../../components/utils.css';
@import '../../components/helpers.css';

/*************************Sidenavigation Styles start******************************************/
.listContainer {
  padding-left: 0px;
  list-style-type: none;
}
.sideNavitem {
  display: block;
  padding: 6px 0;
  font-size: 16px;
  color: #3a3a3a;
  text-decoration: none;
}
.sideNavitem:hover {
  text-decoration: none;
  color: #1a1b1c;
}
.sideNavitem:active {
  text-decoration: none;
  color: #1a1b1c;
  font-weight: 500;
}
.sideNavitem:active {
  text-decoration: none;
  color: #1a1b1c;
  font-weight: 500;
}
a {
  color: #f56e9f;
  text-decoration: none;
}
a:hover {
  color: #f56e9f;
  cursor: pointer;
}
/*************************Sidenavigation Styles end******************************************/

/*************************verification Styles start******************************************/
.panelHeader {
  border-radius: 0;
  width: 100%;
  display: block;
  color: #1a1b1c;
  font-size: 16px;
  border-bottom: 1px solid #dce0e0;
}
.tableBottom {
  margin-bottom: 0;
}
.listLayout {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  color: #1a1b1c;
  font-size: 14px !important;
}
.labelText {
  text-transform: capitalize;
  font-size: 12px;
}
.description {
  font-size: 14px;
  line-height: 1.43;
}
.space4 {
  margin-bottom: 24px;
}
.button {
  border-color: #c4c4c4;
  background: white;
  color: #1a1b1c;
  margin-bottom: 0;
  border-radius: 0px;
  border: 1px solid;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  line-height: 1.43;
  white-space: normal;
  cursor: pointer;
  max-width: 280px;
  width: 100%;
}
.button:hover {
  border-color: #d0d0d0;
  color: #1a1b1c;
  text-decoration: none;
}
.button:focus {
  border-color: #d0d0d0;
  color: #1a1b1c;
  text-decoration: none;
}
.btnPrimary {
  border-color: #f56e9f;
  background-color: #f56e9f;
  color: #fff;
  border-radius: 0px;
}
.btnlarge {
  display: block;
  white-space: normal;
  padding: 7px 21px;
}
.btnPrimary:hover,
.btnPrimary:focus,
.btnPrimary:active,
.btnPrimary:active:hover,
.btnPrimary:active:focus {
  border-color: #f56e9f;
  background-color: #f56e9f;
  color: #fff;
}
.btnPrimaryBorder {
  border-color: #f56e9f;
  color: #f56e9f;
  background-color: #fff;
  border-radius: 0px;
}
.btnPrimaryBorder:hover,
.btnPrimaryBorder:focus,
.btnPrimaryBorder:active,
.btnPrimaryBorder:active:hover,
.btnPrimaryBorder:active:focus {
  border-color: #f64e70;
  color: #f64e70;
  background-color: #fff;
}
/*************************verification Styles end******************************************/
.sectionTitleLight {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: normal;
}
.rowBorder {
  border-bottom: 1px solid #dce0e0;
}
.mediaContainer {
  display: table;
  position: relative;
}
.pullLeft {
  float: left;
}
.photo .pullLeft {
  margin-right: 15px;
}
.profileAvatar {
  width: 66px;
  height: 66px;
}
.profileAvatarLink {
  backface-visibility: hidden;
  position: relative;
  display: inline-block;
  overflow: hidden;
  background-color: #bbb;
  border-radius: 50%;
  border: 2px solid #fff;
}
.noBorder {
  border: 0px none !important;
}
.panelNolist {
  border-radius: 0;
  width: 100%;
  display: block;
  color: #1a1b1c;
  padding: 15px;
  font-size: 14px;
  line-height: 1.43;
}
.space1 {
  margin-bottom: 6px;
}
.displayTable {
  display: table;
  width: 100%;
}
.displayTableRow {
  display: table-row;
  width: 100%;
}
.displayTableCell {
  display: table-cell;
}
.borderLine::after {
  content: '';
  width: 3px;
  height: 100%;
  background: #ffffff;
  position: absolute;
  top: 0;
  right: 25px;
  z-index: 5;
  box-shadow: 0px 0px 2px 1px #dedede;
}
.dateSectionWidth {
  width: 10%;
  position: relative;
}
.noMargin {
  margin: 0;
}
.vtrMiddel {
  vertical-align: middle;
}
.addressWidth {
  width: 47%;
}
.logoWidth {
  width: 30%;
}
.currencyWidth {
  width: 20%;
}
.positionRelative {
  position: relative;
}
.dateFont {
  font-size: 16px;
  color: #3a3a3a;
  font-weight: normal;
}
.dateFontMargin {
  margin-left: 6px;
}
.mainSection {
  display: block;
  position: relative;
  height: auto;
  border-radius: 0;
  border: none;
  background: #fff;
  padding: 30px;
  box-shadow: 0px 0px 15px 2px #eeebee;
}
.space2 {
  margin-bottom: 12px;
}
.spaceTop2 {
  margin-top: 12px;
}
.alignCenter {
  text-align: center;
}
.mediaWidth {
  width: 100%;
}
.spaceTop3 {
  margin-top: 18px;
}
.spaceTop1 {
  margin-top: 6px;
}
.dateSection {
  vertical-align: top;
  padding: 35px 0 0 0px;
}
.linkTitle {
  font-weight: 500;
  font-size: 16px;
}
.fontWeight {
  font-weight: 500;
}
.dateFontNew {
  font-size: 12px;
  word-break: break-word;
  width: 50%;
}
.textWordBreak {
  word-break: break-all;
}
.profileName {
  font-size: 16px;
  color: #f56e9f;
}
.paddingTop1 {
  padding-top: 6px;
}
.vtrMiddle {
  vertical-align: middle;
}
.imgMargin {
  margin-right: 5px;
}
.btnToggleLink {
  color: #f56e9f !important;
  padding: 6px 0px !important;
  font-size: 16px;
}
.textAlignCenter {
  text-align: center;
}
.linkText {
  color: #131313 !important;
}
.crossIcon {
  width: 15px;
  height: 16px;
  margin-left: 15px;
}
.cancelSection {
  width: 50px;
  text-align: right;
}
.secondTableViewRecipt {
  text-align: right;
  width: 120px;
}
.resverBookTitle {
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.53;
  letter-spacing: normal;
  color: #131313;
}
.spaceIconWidth {
  width: 50px;
}
@media screen and (max-width: 991px) {
  .tabScreenresolution {
    width: 40%;
    display: inline-block;
  }
  .tabAvatarSection {
    width: 30%;
    display: inline-block;
  }
  .tabPriceSection {
    display: inline-block;
    width: 15%;
  }
  .priceText {
    text-align: center;
  }
  .menuSection {
    text-align: right;
  }
}
@media screen and (max-width: 767px) {
  .responsiveDisplay {
    display: block;
    width: 100%;
  }
  .responsiveAvatarSection {
    text-align: left;
    margin-bottom: 6px;
  }
  .responsiveAvatarImg {
    display: inline-block;
    width: 20%;
    float: right;
    text-align: center;
  }
  .priceText {
    text-align: left;
  }
  .menuSection {
    text-align: left;
  }
  .resverBookTitle {
    font-size: 26px;
  }
}
