.btnPosition {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
    border-radius: 25px;
    padding: 10px 33px;
}
.btnPrimary {
    border-color: #f56e9f;
    background-color: #f56e9f;
    color: #fff;
}
.btnPrimary:hover,
.btnPrimary:focus,
.btnPrimary:active,
.btnPrimary:active:hover,
.btnPrimary:active:focus {
    border-color: #00a098;
    background-color: #00a098;
    color: #fff;
}