@import '../../components/variables.css';
.Container {
  min-height: 700px;
  position: relative;
}
.containerResponsive {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.receiptPanel {
  border-radius: 0;
}
.rowWidth {
  width: 400px;
}
.textBold {
  font-weight: 500;
  color: #1a1b1c;
}
.rowTable {
  display: table;
  table-layout: fixed;
  width: 100%;
}
/** Common Styles  start**/
.noPadding {
  padding: 0;
}
.space1 {
  margin-bottom: 6px;
}
.space2 {
  margin-bottom: 12px;
}
.space3 {
  margin-bottom: 18px;
}
.space4 {
  margin-bottom: 24px;
}
.space5 {
  margin-bottom: 48px;
}
.spaceTop1 {
  margin-top: 6px;
}
.spaceTop2 {
  margin-top: 12px;
}
.spaceTop3 {
  margin-top: 18px;
}
.spaceTop4 {
  margin-top: 24px;
}
.spaceTop5 {
  margin-top: 48px;
}
.pullRight {
  float: right;
}
.button {
  border-color: #c4c4c4;
  background: white;
  color: #1a1b1c;
  margin-bottom: 0;
  border-radius: 0px;
  border: 1px solid;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  line-height: 1.43;
  white-space: normal;
  cursor: pointer;
  max-width: 280px;
  width: 100%;
  padding: 5px 21px;
}
.button:hover {
  border-color: #d0d0d0;
  color: #1a1b1c;
  text-decoration: none;
}
.button:focus {
  border-color: #d0d0d0;
  color: #1a1b1c;
  text-decoration: none;
}
.btnPrimaryBorder {
  border-color: #f56e9f;
  color: #f56e9f;
  background-color: #fff;
  border-radius: 0px;
}
.btnPrimaryBorder:hover,
.btnPrimaryBorder:focus,
.btnPrimaryBorder:active,
.btnPrimaryBorder:active:hover,
.btnPrimaryBorder:active:focus {
  border-color: #f64e70;
  color: #f64e70;
  background-color: #fff;
}
.iconSection {
  position: relative;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
  max-width: 10px;
  display: inline;
}
.iconSection svg {
  margin: -4px 0 0 0;
}
.positionR {
  position: relative;
}
.specialPriceIcon {
  display: inline-block;
  position: relative;
}
.specialPriceIcon:hover .tltip {
  display: block;
}
.faqImage {
  width: 100%;
  max-width: 19px;
  vertical-align: middle;
  margin-right: 5px;
}
.tltip {
  position: absolute;
  top: -48px;
  right: 0;
  left: 0px;
  display: none;
  background: #1a1b1c;
  min-width: 280px;
  text-align: center;
  padding: 10px;
  border-radius: 0px;
  color: #fff;
}
.relativeSection::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 10px;
  right: 0;
  top: 34px;
  bottom: 0;
  text-align: center;
  background-color: #1a1b1c;
  z-index: 1;
  max-width: 11px;
  max-height: 11px;
  transform: rotate(136deg);
}
.reciptText {
  font-size: 16px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}
.horizontalLine {
  margin: 8px 0px !important;
}
.subText {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #131313;
  padding-left: 15px;
  vertical-align: middle;
}
.iconsSection {
  width: 30px;
  display: inline-block;
}
.textCenter {
  text-align: center;
}
.locationSection {
  display: inline-block;
  width: 50%
}
.contactMail {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: right;
  color: #131313;
  padding: 0;
  display: inline-block;
  width: 50%;
}
.tableSection {
  width: 50%;
  margin: 18px 0 0 auto;
}
.tableText {
  width: 50%;
  display: inline-block;
  padding: 0;
}
.talePrice {
  width: 50%;
  text-align: right;
  display: inline-block;
  padding: 0;
}
.totalText {
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.64;
  letter-spacing: normal;
  color: #131313;
}
.cancelBtn, .cancelBtn:focus, .cancelBtn:hover, .cancelBtn:active {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  padding: 7px 21px;
  border-radius: 30.5px;
  border: solid 1px #e6e6e6;
  text-decoration: none;
  display: inline-block;
}
.previousBtn, .previousBtn:focus, .previousBtn:hover, .previousBtn:active {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding: 10px 38px;
  border-radius: 25px;
  background-color: #f56e9f;
  display: inline-block;
  text-decoration: none;
  margin-right: 15px;
}
.noPaddingLeft {
  padding-left: 0px !important;
}
.titleText {
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.53;
  letter-spacing: normal;
  color: #131313;
}
.downArrowImg {
  transform: rotate(90deg);
  width: 100%;
  max-width: 10px;
  margin-bottom: 2px;
}
.downImgSection {
  vertical-align: top;
  padding: 8px 8px 8px 0px;
}
.cursorPointer {
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .tltip {
    position: absolute;
    top: 29px;
    right: 0;
    left: 0px;
    display: none;
    background: #1a1b1c;
    min-width: 250px;
    text-align: center;
    padding: 10px;
    border-radius: 0px;
    color: #fff;
  }
  .relativeSection::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    right: 0;
    top: -3px;
    bottom: 0;
    text-align: center;
    background-color: #1a1b1c;
    z-index: 1;
    max-width: 11px;
    max-height: 11px;
    -ms-transform: rotate(136deg);
    transform: rotate(136deg);
  }
  .tableSection {
    margin: 0 auto;
    width: 100%;
  }
  .locationSection {
    display: block;
    width: 100%
  }
  .contactMail {
    text-align: left;
    display: block;
    width: 100%;
    padding-left: 47px;
  }
  .mobileDisplay {
    display: block;
    line-height: 10px;
    margin-top: 10px;
  }
  .locationMobileIcon {
    vertical-align: top;
    padding-top: 3px;
  }
  .locationContentMobile {
    width: 88%;
    display: inline-block;
  }
  .textCenterMobile {
    text-align: center;
  }
 
  .backText {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #131313;
    vertical-align: top;
    display: block;
    margin-bottom: 30px;
  }
  .displayBlockMobile {
    display: block;
    line-height: initial;
    margin-top: 12px;
  }
}
/** Common Styles  start**/
