.bgParent {
    position: relative;
    height: auto;
    min-height: 700px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.bgParentColor {
    position: relative;
}
.zIntexBannerTitleSection {
    z-index: 2;
}
.bgParentColor:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,.3);
    z-index: 1;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}
.spaceBg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}
.titleText {
    font-size: 80px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: center;
    color: #ffc984;
    display: block;
}
.mobileImg {
    text-align: center;
    position: relative;
    top: -80px;
}
.mobileTitle {
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #ffffff;
    margin: 60px 0 30px;
    padding-top: 40px;
}
.mobileSubText {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 18px;
}
.container {
    width: 100%;
    max-width: 1070px;
    margin: 0 auto;
}
.btnPrimary {
    border-color: #f56e9f;
    background-color: #f56e9f;
    display: block;
    margin: 0 auto;
    margin-top: 40px !important;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding: 10px 39px;
    border-radius: 25px;
  }
  .btnPrimary:hover,
  .btnPrimary:focus,
  .btnPrimary:active,
  .btnPrimary:active:hover,
  .btnPrimary:active:focus {
    border-color: #f64e70;
    background-color: #f64e70;
    color: #fff;
  }
  .footerText {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 80px 0 100px;
  }

  @media screen and (max-width: 767px) {
    .titleText {
        font-size: 36px;
    }
    .mobileImg {
        top: 0px;
        margin-top: 24px;
    }
  }