@import '../../../../components/common.css';
.capitalizeText {
  text-transform: capitalize;
}
.alignCenter {
  text-align: center;
}
.buttonDot:hover {
  background: transparent !important;
}
.buttonDot:active {
  box-shadow: none !important;
}
.buttonDot span:nth-child(1) {
  width: 5px;
  height: 5px;
  background: #cccccc;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.buttonDot span:nth-child(2) {
  width: 5px;
  height: 5px;
  background: #cccccc;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
.buttonDot span:nth-child(3) {
  width: 5px;
  height: 5px;
  background: #cccccc;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.searchFilterPopover {
  position: absolute;
  top: 50px;
  right: 0;
  left: auto;
  z-index: 10;
  box-shadow: 0px 0px 15px 2px #eeebeb;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: normal;
  display: inline-block;
  max-height: 65vh;
  visibility: visible;
  background: #ffffff;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: transparent;
  -o-border-image: initial;
  border-image: initial;
  border-radius: 0px;
}
.searchFilterPopoverContent {
  min-width: auto;
  padding: 15px 20px;
}
.searchFilterPopoverContent ul {
  padding: 0;
  list-style-type: none;
}
.searchFilterPopoverContent ul li a {
  color: #3a3a3a;
  padding: 5px 10px;
  display: block;
}
.colorChange {
  color: #f56e9f !important;
}
.buttonDot,
.buttonDot:hover,
.buttonDot:focus {
  padding: 8px 12px !important;
}
@media screen and (max-width: 768px) {
  .searchFilterPopoverContent {
    padding: 15px 15px 15px !important;
    height: 100%;
    min-height: 0;
  }
  .searchFilterPopover {
    top: 85px;
    z-index: 1;
  }
}
