@import '../../variables.css';
@import '../../utils.css';
@import '../../common.css';

/** RentAll - Begin **/
.formGroup {
  margin-bottom: 6px !important;
}
.formControlInput {
  padding: 10px 35px 10px 10px;
  height: 45px;
  border-radius: 0px;
  font-size: 15px;
}
.formSection {
  overflow: hidden;
}
.formMaxWidth {
  max-width: 350px;
}
.noPadding {
  padding: 0px;
}
.space1 {
  margin-bottom: 12px;
}
.space2 {
  margin-bottom: 12px;
}
.space3 {
  margin-bottom: 18px;
}
.labelText {
  font-size: 15px;
  color: #3a3a3a;
  margin: 6px 0px;
  line-height: 1.43;
  font-weight: normal;
}
.btnRight {
  margin-right: 10px;
}
.btnAlignRight {
  float: right;
}
.textAlignRight {
  text-align: right;
}
.textAlignLeft {
  text-align: left;
}
.modalCaptionLink {
  color: #00A098;
}
.modalCaptionLinkLarge {
  font-size: 16px;
  line-height: 32px;
}
.modalCaptionLink:hover,
.modalCaptionLink:focus {
  color: #00A098;
  text-decoration: underline;
}
.button {
  display: block;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  outline: 0;
  border: 1px solid #373277;
  border-radius: 0px;
  background: #373277;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.3333333;
  cursor: pointer;
}
.button:hover {
  background: rgba(54, 50, 119, 0.8);
}
.button:focus {
  border-color: #0074c2;
  box-shadow: 0 0 8px rgba(0, 116, 194, 0.6);
}
.btnSuccess {
  border-color: #f56e9f !important;
  background-color: #f56e9f !important;
  color: #fff !important;
}
.btnSuccess:hover,
.btnSuccess:focus {
  border-color: #f64e70 !important;
  background-color: #f64e70 !important;
  color: #fff;
}
.btnPrimaryBorder {
  border-color: #f56e9f;
  color: #f56e9f;
  background-color: #fff;
  border-radius: 0px;
}
.btnPrimaryBorder:hover,
.btnPrimaryBorder:focus {
  border-color: #f64e70;
  color: #f64e70;
  background-color: #fff;
}
.btnSmall {
  padding: 5px 0px;
}
.horizontalLineThrough {
  position: relative;
  z-index: 1;
  display: block;
  margin: 15px 0px;
  width: 100%;
  color: #3a3a3a;
  text-align: center;
  font-size: 14px;
}
