@import '../../components/variables.css';
@import '../../components/utils.css';
@import '../../components/common.css';
.textAlignRight {
  text-align: right;
}
.textAlignLeft {
  text-align: left;
}
.textAlignCenter {
  text-align: center;
}
.noPadding {
  padding: 0px;
}
.button {
  border-color: #f64e70;
  background-color: #f64e70;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  display: block;
  width: 100%;
}
.button:hover {
  background: rgba(54, 50, 119, 0.8);
}
.button:focus {
  border-color: #0074c2;
  box-shadow: 0 0 8px rgba(0, 116, 194, 0.6);
}
.btnPrimary {
  border-color: #f56e9f;
  background-color: #f56e9f;
  color: #fff;
  border-radius: 25px;
}
.btnPrimary:hover,
.btnPrimary:focus,
.btnPrimary:active,
.btnPrimary:active:hover,
.btnPrimary:active:focus {
  border-color: #f64e70 !important;
  background-color: #f64e70 !important;
  color: #fff;
}
.btnlarge {
  padding: 11px 30px;
}
.formGroup {
  margin-bottom: 8px;
}
.formControlInput {
  padding: 0px 35px 5px 0px;
  height: 34px;
  border-radius: 0px;
  font-size: 16px;
  border: 0px;
  background-color: #f9f9f9;
  color: #131313;
  margin: 0px 0 0 0;
  box-shadow: none;
}
.pullCenter {
  text-align: center;
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.formControlSelect {
  padding: 10px 32px 10px 10px;
  height: 40px;
  border-radius: 0px;
  font-size: 14px;
  border: 1px solid #d0d0d0;
  background-color: #fff;
  color: #1a1b1c;
  font-weight: normal;
}
.select {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 5px;
}
.formSection {
  overflow: hidden;
}
.captionText {
  font-size: 16px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
}
.labelText {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #131313;
  margin: 0;
}
.spaceTop3 {
  margin-top: 18px;
}
.textRight {
  text-align: right;
}
.textAlign {
  text-align: right;
}
.capchaOverflow {
  overflow: hidden;
}
.borderSection {
  border-bottom: 1px solid #e6e6e6;
  padding: 0 15px;
}
.formContainerHeader {
  padding: 10px 30px 18px;
  width: 100%;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
}
.formContainer {
  width: 100%;
  position: relative;
  height: auto;
  padding: 0px 15px 15px 15px;
}
.backgroundOne {
  background: url('../../../public/NewIcon/nounEmail.svg') no-repeat;
  background-position: 100%;
}
.backgroundTwo {
  background: url('../../../public/NewIcon/profile.svg') no-repeat;
  background-position: 99% 3px;
}
.backgroundThree {
  background: url('../../../public/NewIcon/noun-phone.svg') no-repeat;
  background-position: 99% 3px;
}
.backgroundFour {
  background: url('../../../public/NewIcon/noun-pen.svg') no-repeat;
  background-position: 100% 84px;
}
.textAreaSection {
  height: 123px !important;
  border: 0px !important;
  padding: 20px;
  font-size: 16px;
  border-radius: 0px;
  resize: none;
  color: #131313;
}
.paperPlane {
  position: absolute;
  right: 0;
  left: 90px;
  bottom: 12px;
  color: #fff;
}
.paddingRight {
  padding-right: 46px;
}
.formBackground {
  box-shadow: none;
  background: #f9f9f9;
  border-radius: 0px;
  border: 1px solid #e6e6e6;
  width: 100%;
  max-width: 650px;
}
.contactTitle {
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.53;
  letter-spacing: normal;
  color: #131313;
}
.space6 {
  margin-bottom: 36px;
}
.addressText {
  color: #3a3a3a;
}
.linkText {
  font-size: 18px;
  text-decoration: none;
  color: #00A098 !important;
}
.linkText:hover {
  color: #00A098 !important;
}
.subTitleText {
  font-size: 24px;
}
.alignCenter {
  text-align: center;
}
.mailIcon {
  width: 100%;
  max-width: 100px;
  height: 100%;
  backface-visibility: hidden;
}
.iconMargin {
  margin-bottom: 24px;
}
.space3 {
  margin-bottom: 18px;
}
.btnPadding {
  padding: 0 15px;
}
.nameBorder {
  padding-top: 8px !important;
}
.phoneNumberBorder {
  padding-top: 8px !important;
  padding-left: 12px !important;
  border-left: 1px solid #e6e6e6;
}
.marginTop {
  margin-top: 80px;
}
.thankYouPage {
  background: #f9f9f9;
  border: 1px solid #e9e9e9;
  text-align: center;
  padding: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.siteLogo {
  width: 100%;
  max-width: 200px;
}
.thankYouSubTitle {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #131313;
  margin: 0;
  font-weight: 700;
  text-transform: capitalize;
}
.titleLineHeight {
  line-height: 24px;
}
@media screen and (max-width: 767px) {
  .contactTitle {
    font-weight: 500;
    color: #3a3a3a;
    text-align: center;
    font-size: 28px;
  }
  .phoneNumberBorder {
    padding-left: 0px !important;
    border-left: 0px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
  }
  .borderSection {
    padding: 0px;
  }
}
