.root {
  margin: 0;
}
.link {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 1.125em;
}
.link,
.link:active,
.link:visited {
  color: rgba(255, 255, 255, 0.6);
}
.link:hover {
  color: rgba(255, 255, 255, 1);
}
.highlight {
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.15);
  color: #fff;
}
.highlight:hover {
  background: rgba(0, 0, 0, 0.3);
}
.spacer {
  color: rgba(255, 255, 255, 0.3);
}

.btnPrimary {
  border-color: #f56e9f !important;
  background-color: #f56e9f !important;
  height: 30px;
  border-radius: 30.5px;
  font-family: Catamaran;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 6px 15px;
}
.btnPrimary:hover,
.btnPrimary:focus,
.btnPrimary:active,
.btnPrimary:active:hover,
.btnPrimary:active:focus {
  border-color: #f64e70 !important;
  background-color: #f64e70 !important;
  color: #fff !important;
  outline: 0 !important;
}
.btnPrimaryBorder {
  border-color: transparent !important;
  background-color: transparent !important;
  height: 30px;
  border-radius: 30.5px;
  font-family: Catamaran;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffc984;
  padding: 6px 15px;
}
.btnPrimaryBorderAbout {
  border-color: #00a098 !important;
  background-color: #00a098 !important;
  height: 30px;
  border-radius: 30.5px;
  font-family: Catamaran;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 6px 15px;
}
.btnPrimaryBorder:hover,
.btnPrimaryBorder:focus,
.btnPrimaryBorder:active,
.btnPrimaryBorder:active:hover,
.btnPrimaryBorder:active:focus {
  border-color: #00a098 !important;
  background-color: #00a098 !important;
  color: #fff !important;
  outline: 0 !important;
}
.inviteLinkSpan  {
  display: block;
  text-align: center;   
}
.setActiveColor {
  background: #00a098 !important;
  color: #fff !important;
}
@media (max-width: 1200px) {
  .newMenu {
    height: 100vh;
    background: #fff !important;
  }
  .newMenuDesign {
    margin-top: 20px;
    border-top: 1px solid #ffc984;
  }
  .newMenuDesign {
    margin-top: 60px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .newMenu {
    left: 0;
  }
}
@media (max-width: 767px) {
  .newMenuDesign {
    margin-top: 60px;
  }
}