@import '../common.css';
.sectionCaptionLink {
  font-size: 14px;
  color: #f56e9f;
  font-weight: 500;
  cursor: pointer;
  text-transform: none;
}
.sectionCaptionLink:hover,
.sectionCaptionLink:active,
.sectionCaptionLink:focus {
  color: #f56e9f;
  font-weight: 500;
  cursor: pointer;
  text-transform: none;
}
.textWeight {
  font-weight: 500;
}
.timeText {
  font-size: 14px;
  color: #3a3a3a;
}
.rulersSection {
  border: 1px solid #dedede;
  padding: 3px 15px;
}
.rulersSectionNoBorder {
  margin-bottom: 15px;
}
.question {
  font-weight: 500;
}
.faqcolumn span {
  padding-bottom: 0px;
  padding-top: 0px;
  font-size: 16px;
  color: #3a3a3a;
  display: table;
}
.faqcolumn span span {
  padding-bottom: 12px;
  padding-top: 12px;
  font-size: 16px;
  color: #1a1b1c;
  display: table-cell;
  width: 100%;
  font-weight: 500;
}
.btnContainer {
  text-align: right;
}
.noBroderBottom {
  border-bottom: 0px;
}
.noPaddingTop span {
  padding-top: 0px !important;
}
.noMaring {
  margin: 0;
}
.hoursDisplayInline {
  display: inline-block;
  vertical-align: top;
}
.hourPaddingRight {
  padding-right: 8px;
}
.displayTable {
  display: table;
  width: 100%;
}
.displayTableRow {
  display: table-row;
  width: 100%;
}
.displayTableCellList {
  display: table-cell;
}
.iconWidth {
  vertical-align: middle;
}
.textWidth {
  vertical-align: middle;
  word-break: break-word;
  padding: 0 10px;
}
.itemBorder {
  padding: 10px 0;
  border-bottom: 1px solid #dedede;
}
.listImg {
  width: 100%;
  max-width: 30px;
}
@media screen and (max-width: 767px) {
  .rulersSection {
    padding: 3px 10px 3px 30px;
  }
  .mobileMarginBottom {
    margin-bottom: 18px;
  }
}

.lineBreak {
  white-space: pre-line;
}
.imgSection {
  width: 100%;
  max-width: 19px;
}
.listIcon {
  display: table-cell;
  width: 28px;
  vertical-align: top;
  margin-right: 5px;
}
.listContent {
  display: table-cell;
  vertical-align: middle;
  line-height: 22px;
}
.mapMargin {
  margin: 20px -15px 30px -15px;
}
.displayTableList {
  display: table;
  width: 100%;
}
.displayTableRowList {
  display: table-row;
  width: 100%;
}
.dotImageScetion {
  display: table-cell !important;
  width: 12px;
  vertical-align: middle;
}
.dotImage {
  margin-right: 3px;
  max-width: 8px;
}
@media screen and (max-width: 767px) {
  .mapMargin {
    margin: 20px -15px 12px -15px;
  }
}