@import '../../variables.css';
@import '../../utils.css';
@import '../../common.css';

/** RentAll - Begin **/

.formGroup {
  margin-bottom: 6px;
}
.formControlInput {
  padding: 10px 35px 10px 10px;
  height: 34px;
  border-radius: 0px;
  font-size: 16px;
  border: none !important;
  box-shadow: none !important;
}
.formSection {
  overflow: hidden;
  font-size: 19px;
  margin-top: 35px;
}
.noPadding {
  padding: 0px;
}
.textAlignRight {
  text-align: right;
}
.textAlignLeft {
  text-align: left;
}
.modalCaptionLink {
  color: #00A098;
}
.modalCaptionLinkLarge {
  font-size: 16px;
  line-height: 36px;
}
.modalCaptionLink:hover,
.modalCaptionLink:focus {
  color: #00A098;
  text-decoration: underline;
}
.button {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 7px 21px;
  width: 100%;
  outline: 0;
  border: 1px solid #373277;
  border-radius: 0px;
  background: #373277;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.3333333;
  cursor: pointer;
}
.button:hover {
  background: rgba(54, 50, 119, 0.8);
}
.button:focus {
  border-color: #0074c2;
  box-shadow: 0 0 8px rgba(0, 116, 194, 0.6);
}
.btnPrimary {
  border-color: #f56e9f;
  background-color: #f56e9f;
  color: #fff;
  border-radius: 50px;
}
.btnPrimary:hover,
.btnPrimary:focus {
  border-color: #f64e70 !important;
  background-color: #f64e70 !important;
  color: #fff;
}
.btnPrimaryBorder {
  border-color: #f56e9f;
  color: #f56e9f;
  background-color: #fff;
  border-radius: 50px;
}
.btnPrimaryBorder:hover,
.btnPrimaryBorder:focus {
  border-color: #f64e70;
  color: #f64e70;
  background-color: #fff;
}
.btnSmall {
  padding: 5px 0px;
}
.horizontalLineThrough {
  position: relative;
  z-index: 1;
  display: block;
  margin: 15px 0px;
  width: 100%;
  color: #3a3a3a;
  text-align: center;
  font-size: 14px;
}
.meassageicon {
  background: url('../../../../public/NewIcon/nounEmail.svg') no-repeat;
  background-position: 100% 11px;
}
.leftICon {
  color: #00A098 !important;
  margin-right: 8px;
}
.dispalyTable {
  display: table;
}
.displayCell {
  display: table-cell;
  vertical-align: middle;
}
.forgetEmail {
  margin-bottom: 0px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #131313;
}
.mainPadding {
  padding: 0 30px;
}
@media screen and (max-width: 640px) {
  .smSpace {
    margin-top: 8px;
  }
}
