@import '../../components/variables.css';
.root {
  padding-left: 0px;
  padding-right: 0px;
}
.container {
  margin: 0 auto;
  padding: 0px 0px 0px;
  max-width: 100%;
  margin-top: 0px;
}
/* Search page - RentAll **/
.searchLoaderContainer {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
}
.searchResultContainer {
  left: 0;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  z-index: 0;
}
.searchMapContainer {
  background-color: #a4ddf5;
  position: absolute;
  left: 60%;
  bottom: 0;
  margin-right: 20px;
  top: 0px;
  margin: 0px 24px 0px 0;
  height: 87vh;
}
.mobileNavigation {
  position: fixed;
  bottom: 16px;
  left: 0;
  opacity: 1;
  right: 0;
  text-align: center;
  transition-duration: 250ms;
  transition-property: opacity;
  transition-timing-function: ease-out;
  z-index: 5;
  display: none;
}
.buttonOuter {
  display: inline-block;
  width: 100%;
}
.buttonContainer {
  background-color: transparent;
  color: #1a1b1c;
  float: left;
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 1;
  margin: 0;
  padding-bottom: 0;
  padding-top: 0;
  width: 100%;
}
.filterButton,
.filterButton:hover,
.filterButton:focus,
.filterButton:active:focus {
  color: #00A098;
  text-decoration: none;
  padding: 6px 18px;
  box-shadow: 0 0px 8px 0px #dedede;
  background-color: #ffffff;
  border-radius: 80px;
  outline: 0;
}
.filterButton .icon {
  font-size: 20px;
}
.filterButton:last-child {
  border: none;
}
.locationBtn,
.locationBtn:hover,
.locationBtn:focus,
.locationBtn:active:focus {
  padding: 8px;
  float: left;
  margin-left: 20px;
}
.locationBtn .icon {
  font-size: 30px;
}
.searchResultParent {
  position: relative;
  overflow: hidden;
  background: #f9f9f9;
}
.whereText {
  font-size: 16px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #131313;
  margin-right: 15px;
}
.workSpaceText {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #131313;
  margin-left: 6px;
}
.whereIcons {
  display: inline-block;
  padding-left: 15px;
  vertical-align: middle;
}
.whereSection {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  padding: 0 30px;
  margin-top: 24px;
  background: #f9f9f9;
  padding-bottom: 10px;
}
.textAlignRight {
  text-align: right;
}
.cursorPointer {
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .searchResultParentHeight {
    height: 75vh;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .searchMapContainer {
    padding: 0px 0px 0px 0px;
  }
  .tabHideMapShowBtn {
    display: none;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .tabHideMapShowBtn {
    display: none;
  }
}
@media (max-width: 991px) and (min-width: 769px) {
  .searchMapContainer {
    left: 50%;
  }
}
@media screen and (max-width: 900px) {
  .searchResultContainer {
    width: 50%;
    display: block;
    margin-top: 15px;
  }
  .listItemOnly.searchResultContainer {
    width: 100% !important;
  }
  .searchMapContainer {
    display: block;
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0px 0px 0px;
  }
  .searchResultContainer {
    margin-top: 0px;
  }
  .searchResultContainer {
		overflow-x: inherit !important;
	}
  .whereSection {
    grid-template-columns: 100%;
    padding: 8px 15px 4px;
  }
  .hiddenMobile {
    display: none;
  }
  .searchResultContainer {
		margin-top: 15px;
  }
  .searchMapHeight {
    height: 100vh !important;
  }
}
@media (max-width: 1199px) and (min-width: 769px) {
	.searchResultContainer {
		top: 0px;
	}
}
@media screen and (min-width: 901px) {
  .searchResultContainer {
    width: 60%;
    display: block;
    margin-top: 15px;
    position: relative;
    /* height: 84vh; */
    overflow-x: hidden;
  }
  .listItemOnly.searchResultContainer {
    width: 100% !important;
  }
  .searchMapContainer {
    display: block;
    width: 40%;
  }
}
.resultsBody {
  padding-bottom: 0px;
}
@media screen and (max-width: 1199px) {
  .resultsBody {
    display: block;
  }
  .mobileNavigation {
    display: block;
    bottom: 86px;
    width: 100%;
    max-width: 66px;
  }
  .searchResultContainer {
    width: 100%;
  }
  .listItemOnly.searchResultContainer {
    width: 100% !important;
    margin-top: 0px;
  }
  .container {
    position: relative;
  }
  .searchMapContainer {
    width: 100%;
    padding: 0px;
    top: 0;
    position: absolute;
    left: 0;
    height: auto;
    margin: 0;
    bottom: 0;
    z-index: 3;
  }
  .whereSection {
    margin-top: 12px;
  }
}
.navItem {
  height: 30px;
  border: 0;
  border-radius: 15px;
  font-family: Catamaran;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #131313;
  margin-left: 4px;
  margin-right: 4px;
  background-color: #f9f9f9;
}
.navItem:hover {
  color: #ffffff !important;
  background-color: #00a098 !important;
}
.btn:focus {
  background-color: inherit;
}
/* .navItem:focus {
  color: #ffffff;
  background-color: #00a098; 
} */
.alignRight {
  text-align: right;
}
.active {
  color: #ffffff !important;
  font-weight: bold;
  background-color: #00a098 !important;
}
.label {
  margin-right: 10px;
  height: 16px;
  font-family: Catamaran;
  font-size: 16px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #131313;
}
.tabMapBtn {
  background-color: transparent !important;
  background: transparent;
  box-shadow: none !important;
}
@media screen and (max-width: 767px) {
  .label {
    font-size: 14px;
    font-weight: 100;
  }
  .alignRight {
    text-align: center;
  }
  .navItem {
    padding: 4px 9px;
    margin-left: 2px;
    margin-right: 2px;
  }
  .searchMapContainer {
    top: 68px;
  }
}

/****************New sticky Scetion  Start********************/
.positionSticky {
	position: -webkit-sticky;
	position: sticky;
	top: 86px;
  background: #f9f9f9;
  z-index: 9;
}
.positionRelative {
	position: relative;
}
.bannerRelative {
  position: relative;
}
.overFlowHidden {
  overflow: hidden;
  margin-top: 0;
}
@-moz-document url-prefix() {
	.positionSticky {
		top: 86px;
	}
}
@media screen and (min-width: 1200px) {
  .positionRelative {
    height: 87vh;
  }
}
@media screen and (max-width: 1199px) {
  .positionStickyMobile {
		z-index: 3;
	}
}
@media (max-width: 1199px) and (min-width: 1024px) {
	.positionSticky {
		padding-bottom: 0px !important;
	}
	.positionRelative {
		height: 87vh;
	}
	.searchMapContainer {
    height: 90%;
    top: 66px;
	}
}
@media (max-width: 1023px) and (min-width: 768px) {
	.positionSticky {
		padding-bottom: 0px !important;
	}
	.positionRelative {
		height: 87vh;
	}
	.searchMapContainer {
    height: 90%;
    top: 66px;
	}
}
@media (max-width: 767px) {
	.positionSticky {
		padding: 0;
	}
	.searchMapContainer {
		/* position: fixed; */
		left: 0;
		/* height: 60%; */
	}
  .positionSticky {
    top: 65px;
  }
  .positionRelative {
		height: auto;
	}
}
/****************New sticky Scetion  End********************/