@import '../../../../variables.css';
@import '../../../../utils.css';
@import '../../../../common.css';
.modalContainer {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0px;
}
.logInModalBody {
  padding: 0px;
}
.noPadding {
  padding: 0px;
}
.noMargin {
  margin: 0px;
}
.modalHeading {
  color: #1a1b1c;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #dce0e0;
  background-color: #edefed;
}
.panelBody {
  padding: 20px;
}
.space2 {
  margin-bottom: 12px;
}
.space3 {
  margin-bottom: 18px;
}
.spaceTop2 {
  margin-top: 12px;
}
.panelHeader {
  border-radius: 0;
  width: 100%;
  display: block;
  color: #1a1b1c;
  font-size: 16px;
  border-bottom: 1px solid #dce0e0;
  margin: 0px;
}
.panelBody {
  margin: 0;
  padding: 5px;
  position: relative;
}
.labelText {
  font-size: 14px;
  color: #1a1b1c;
  font-weight: 500;
}
.formControlInput {
  display: block;
  padding: 8px 10px;
  width: 100%;
  font-size: 14px;
  border-radius: 0px;
  border: 1px solid #d0d0d0;
  background-color: #fff;
  color: #3a3a3a;
}
.formGroup {
  margin-bottom: 6px;
}
/*************************Panel Styles End******************************************/
a {
  color: #00A098;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
}
.button {
  border-color: #f64e70;
  background-color: #f64e70;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.button:hover {
  background: rgba(54, 50, 119, 0.8);
}
.button:focus {
  border-color: #0074c2;
  box-shadow: 0 0 8px rgba(0, 116, 194, 0.6);
}
.btnPrimary {
  border-color: #f56e9f;
  background-color: #f56e9f;
  color: #fff;
  border-radius: 0px !important;
}
.btnlarge {
  padding: 11px 21px;
}
.btnPrimary:hover,
.btnPrimary:focus,
.btnPrimary:active,
.btnPrimary:active:hover,
.btnPrimary:active:focus {
  border-color: #f64e70;
  background-color: #f64e70;
  color: #fff;
}
.btnPrimaryBorder {
  border-color: #f56e9f;
  color: #f56e9f;
  background-color: #fff;
  border-radius: 0px !important;
}
.btnPrimaryBorder:hover,
.btnPrimaryBorder:focus,
.btnPrimaryBorder:active,
.btnPrimaryBorder:active:hover,
.btnPrimaryBorder:active:focus {
  border-color: #f64e70;
  color: #f64e70;
  background-color: #fff;
}
.space1 {
  margin-bottom: 6px;
}
.space2 {
  margin-bottom: 12px;
}
.space4 {
  margin-bottom: 24px;
}
.btnRight {
  margin-right: 10px;
}
.introText {
  font-size: 14px;
  color: #1a1b1c;
  margin-bottom: 20px;
}
