@import '../../components/variables.css';
@import '../../components/utils.css';
@import '../../components/common.css';

/*************************Sidenavigation Styles start******************************************/
.listContainer {
  padding-left: 0px;
  list-style-type: none;
}
.sideNavitem {
  display: block;
  padding: 6px 0;
  font-size: 16px;
  color: #3a3a3a;
  text-decoration: none;
}
.sideNavitem:hover {
  text-decoration: none;
  color: #1a1b1c;
}
.sideNavitem:active {
  text-decoration: none;
  color: #1a1b1c;
  font-weight: 500;
}
.sideNavitem:active {
  text-decoration: none;
  color: #1a1b1c;
  font-weight: 500;
}
/*************************Sidenavigation Styles end******************************************/
.panelHeader {
  border-radius: 0;
  width: 100%;
  display: block;
  color: #1a1b1c;
  font-size: 16px;
  padding-bottom: 12px;
  border-bottom: 1px solid #dce0e0;
}
a {
  color: #00A098;
  text-decoration: none;
}
a:hover {
  color: #00A098;
  cursor: pointer;
}
.space4 {
  margin-bottom: 24px;
}
.button {
  border-color: #f64e70;
  background-color: #f64e70;
  color: #fff;
  font-size: 14px;
}
.button:hover {
  background: rgba(54, 50, 119, 0.8);
}
.button:focus {
  border-color: #0074c2;
  box-shadow: 0 0 8px rgba(0, 116, 194, 0.6);
}
.btnPrimary {
  border-color: #f56e9f;
  background-color: #f56e9f;
  color: #fff;
  border-radius: 0px !important;
}
.btnSuccess {
  border-color: #f56e9f !important;
  background-color: #f56e9f !important;
  color: #fff !important;
  border-radius: 0px !important;
}
.btnSuccess:hover,
.btnSuccess:focus {
  border-color: #f64e70 !important;
  background-color: #f64e70 !important;
  color: #fff;
}
.btnlarge {
  padding: 7px 21px;
}
.btnPrimary:hover,
.btnPrimary:focus,
.btnPrimary:active,
.btnPrimary:active:hover,
.btnPrimary:active:focus {
  border-color: #f64e70;
  background-color: #f64e70;
  color: #fff;
}
.btnPrimaryBorder {
  border-color: #f56e9f;
  color: #f56e9f;
  background-color: #fff;
  border-radius: 0px !important;
}
.btnPrimaryBorder:hover,
.btnPrimaryBorder:focus,
.btnPrimaryBorder:active,
.btnPrimaryBorder:active:hover,
.btnPrimaryBorder:active:focus {
  border-color: #f64e70;
  color: #f64e70;
  background-color: #fff;
}
.labelText {
  font-size: 14px;
  color: #1a1b1c;
  font-weight: normal;
  margin-bottom: 12px;
  margin-top: 12px;
}
.formControlInput {
  display: block;
  height: 40px;
  padding: 8px 10px;
  width: 100%;
  font-size: 14px;
  border-radius: 0px;
  background-color: #fff;
  color: #3a3a3a;
  border: 1px solid #d0d0d0;
  box-shadow: none !important;
}
.formGroup {
  margin-bottom: 6px;
}
.space2 {
  margin-bottom: 12px;
}
.btnRight {
  float: right;
}
.textRight {
  text-align: right;
}
.formControlSelect {
  border-radius: 0px;
  font-size: 14px;
  width: 100%;
  border: 1px solid #d0d0d0;
  background-color: #fff;
  color: #3a3a3a;
  display: block;
  overflow: hidden;
  appearance: none;
}
.formGroup {
  margin-bottom: 6px;
}
.labelText {
  font-size: 14px;
  color: #1a1b1c;
  font-weight: normal;
}
.textAlignRight {
  text-align: right;
}
@media screen and (max-width: 743px) {
  .textRight {
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  .labelText {
    margin-top: 0px;
  }
}
