@import '../common.css';
.profileAvatarSection {
  position: relative;
  text-align: center;
  margin: 0 auto;
}
.profileAvatarLink {
  backface-visibility: hidden;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
  background-color: #bbb;
  border-radius: 50%;
  border: 2px solid #fff;
}
.profileAvatar {
  height: 80px;
  width: 80px;
}
.overviewIcon {
  width: 100%;
  min-width: 18px;
  height: auto;
  text-align: center;
  color: #3a3a3a;
}
.textMuted,
.textMuted:hover,
.textMuted:focus,
.textMuted:hover:focus {
  color: #3a3a3a;
  text-decoration: none;
  font-size: inherit;
}
.reviewStar {
  display: inline;
  position: relative;
  float: left;
  margin-right: 3px;
  font-size: 20px;
  height: 20px;
}
.introPadding {
  padding-bottom: 15px;
}
.hostNameText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
  margin: 0 auto;
}
.sideBorder {
  padding: 0 8px;
}
.vtrBottom {
  vertical-align: bottom;
}
.displayInlineBlock {
  display: inline-block;
}
.hostBtn {
  color: #f56e9f !important;
}
.hostNameLinkText {
  display: block;
  margin-top: 8px;
  margin-bottom: 0px;
}
.reviewTop {
  margin-top: 25px;
}
.reviewText {
  color: #131313;
}
.locationIcon {
  width: 100%;
  max-width: 14px;
  margin-right: 5px;
  vertical-align: middle;
}
.vtrMiddle {
  vertical-align: middle;
}
.starText {
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
  margin-right: 5px;
}
.starSection {
  display: inline-block;
  vertical-align: middle;
}
.pullRight {
  float: right;
}
.noMarginBottom {
  margin-bottom: 0px !important;
}
@media screen and (max-width: 640px) {
  .introCenter {
    text-align: center;
  }
  .bookItPanel {
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  .profileAvatar {
    height: 54px;
    width: 54px;
  }
  .profileAvatarNew {
    height: 100px;
    width: 100px;
  }
  .pullRight {
    float: none;
  }
  .reviewWidth {
    width: 100%;
  }
  .noMarginBottomMob {
    margin-bottom: 0px;
  }
}
