/** Common **/
.textEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pullRight {
  float: right;
}
/** Common **/
/* List Item - Start **/
.listItemContainer {
  position: relative;
}
.listPhotoContainer {
  position: relative;
}
.listPhotoCover {
  display: block;
  height: 345px;
  backface-visibility: hidden;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  background-color: #d8d8d8;
  text-align: center;
}
.listPhotoMedia {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}
.imgResponsive {
  height: 100%;
  width: auto;
}
.listInfoLink {
  cursor: pointer;
  display: block;
}
.infoText {
  color: #1a1b1c;
  font-family: inherit;
  margin: 0px;
  word-wrap: break-word;
  line-height: 18px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline;
}
.infoPrice {
  font-size: 15px;
}
.infoReview {
  font-size: 12px;
}
.infoTitle {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 4px;
}
.infoDesc {
  font-weight: 200;
  font-size: 14px;
  color: #3a3a3a;
}
.wishListContainer {
  position: absolute;
  top: 10px;
  right: 10px;
}
.wishListBtn {
  font-size: 36px;
  color: #ffffff;
}
.wishListBtn:hover,
.wishListBtn:focus {
  color: #f64e70;
}
.activeWishList {
  color: #f64e70;
}
.listingInfo {
  word-wrap: break-word;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: normal;
  color: #f56e9f;
  font-weight: 500;
  margin: 0px;
  text-transform: capitalize;
}
.infoSpace {
  margin-top: 6px;
  margin-bottom: 4px;
}
.space1 {
  margin-bottom: 6px;
}
.sideBorder {
  padding: 0 8px;
}
.displayInlineBlock {
  display: inline-block !important;
}
.startIcon {
  padding: 0px 0 5px 0;
}
.reviewText {
  padding: 5px;
  padding-left: 3px;
  color: #1a1b1c;
}
.priceInnerText {
  font-size: 10px;
  color: #3a3a3a !important;
}
.reviewStar {
  display: block;
  position: relative;
}
.displayInline {
  display: inline;
}
.displayInlineBlock {
  display: inline-block;
}
.instantIcon {
  color: #ffb400;
  height: 16px;
  width: 16px;
}
.dislpayInline {
  display: inline !important;
}
.priceText {
  color: #3a3a3a !important;
  font-weight: normal !important;
}
.starIconSection {
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 1280px) {
  .listPhotoCover {
    height: 200px;
  }
}
@media screen and (max-width: 800px) {
  .listPhotoCover {
    height: 345px;
  }
}
@media screen and (max-width: 767px) {
  .startHidden {
    display: none !important;
  }
  .displayInlineBlockStar {
    display: inline-block;
  }
  .reviewStarResponsive {
    padding: 0px 5px 0px 0px;
    color: #f56e9f;
  }
}
@media screen and (max-width: 480px) {
  .listPhotoCover {
    height: 215px;
  }
}
/* List Item - End */
