@import '../../../components/variables.css';
.progressContainer {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.linkReset {
  text-decoration: none;
  color: inherit;
}
.textTrunck {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  font-size: 16px;
}
.progressStep {
  padding: 20px 20px;
  background-color: #fafafa;
  vertical-align: top;
  display: block;
}
.progressSection {
  display: inline-block;
  background-color: #fafafa;
  border-right: 1px solid #d0d0d0;
}
.progressStyle {
  width: 20.00%;
  left: 0%;
  max-width: 100%;
  vertical-align: middle;
}
a:hover,
a:focus,
a:active {
  color: #f56e9f;
}
.leanProgress {
  height: 5px;
  background-color: #f56e9f;
  margin-bottom: 0px;
  opacity: 0.8;
  border-radius: 0 !important;
}
.progressContainer a:last-of-type div {
  border-right: 1px solid transparent;
}
.active .linkReset,
.linkReset:hover {
  color: #f56e9f;
}
.active .linkReset,
.linkReset:focus {
  color: #f56e9f;
}
