@import '../../../../components/common.css';
 .dateSection {
	display: inline-block;
	vertical-align: top;
	width: 100%;
}
.timeSection {
	width: 100%;
	display: inline-block;
	padding-top: 0px;
	vertical-align: middle;
}
.btnImage,
.btnImage:active,
.btnImage:focus {
	padding-left: 33px !important;
}
.btnImage::before {
	content: '';
	background-image: url('../../../../../public/SiteIcons/calendar.png') !important;
	background-repeat: no-repeat !important;
	background-size: contain;
	position: absolute;
	left: 13px;
	right: 0;
	background-position: 99% 3px;
	width: 100%;
	height: 100%;
	max-width: 13px;
	max-height: 18px;
	display: block;
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(78deg) brightness(99%) contrast(105%);
}
.btnImage:hover::before,
.btnImage:active::before,
.btnImage:focus::before,
.btnImageActive::before,
.btnImageActive:hover::before,
.btnImageActive:active::before,
.btnImageActive:focus::before {
	content: '';
	background-image: url('../../../../../public/SiteIcons/calender-white.png') !important;
	background-repeat: no-repeat !important;
	background-size: contain;
	position: absolute;
	left: 13px;
	right: 0;
	background-position: 99% 3px;
	width: 100%;
	height: 100%;
	max-width: 13px;
	max-height: 18px;
	display: block;
	filter: none !important;
}
.fontWeight {
	font-weight: 500;
}
.dateText {
	font-size: 16px;
}
.btnDate,  .btnDate:hover, .btnDate:focus {
	background-color: transparent !important;
	background: transparent !important;
	border-color: transparent !important;
}
.searchBtnHome, .searchBtnHome:hover, .searchBtnHome:focus {
    padding: 24px 30px !important;
}
@media screen and (max-width: 991px) {
	.dateSection {
		display: block;
		width: 100%;
	}
	.timeSection {
		width: 100%;
		display: block;
		max-width: 320px;
		margin: 0 auto;
	}
	.searchBtnHome, .searchBtnHome:hover, .searchBtnHome:focus {
		padding: 18px 20px !important;
	}
}
@media screen and (max-width: 767px) {
	.searchBtnHome, .searchBtnHome:hover, .searchBtnHome:focus {
		padding: 15px !important;
	}
}