@import '../variables.css';
@import '../common.css';
.stripeImg {
    width: 100%;
    height: auto;
    max-width: 60px;
}
.cardsIcon {
    width: 100%;
    max-width: 180px;
}
.textAlignRight {
    text-align: right;
}
.powerByText {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #131313;
    margin-right: 4px;
    vertical-align: sub;
}
.cardLabelText {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #131313;
    margin: 0;
}
.button {
    padding: 13px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.3333333;
    font-weight: 700;
    cursor: pointer;
    white-space: normal;
    width: 100%;
    border-radius: 50px;
}
.noBorder {
    border: 0px !important;
}
.space7 {
    margin-bottom: 42px;
}
.expireBorder {
    position: relative;
    border-right: 1px solid #e6e6e6 !important;
}
.modalTitle {
    font-size: 20px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.53;
    letter-spacing: normal;
    color: #131313;
    margin: 0;
    display: inline-block
}
.addcardHome {
    padding: 20px 18px 15px 32px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 6px;
}
.pullRight {
    float: right;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .cardLabelText {
        font-size: 12px;
    }
    .modalTitle {
        font-size: 16px
    }     
}